#Data manipulation
numpy
pandas

#statistics
scipy
statsmodels
pingouin

#machine learning
keras
scikit-learn

#jupyter
notebook
jupyterlab
ipython-sql
ipympl
ipywidgets

#Data visualization
matplotlib
seaborn
plotly

#Database connections
SQLAlchemy
psycopg2-binary
pandasql

#Web scraping
beautifulsoup4
requests
scrapy

#CLIs
kaggle

#Linting etc.
autopep8
pylint
